 
.listContainer{
background-color:#212121;
display: flex;
flex-wrap: nowrap;
overflow-x: auto; 
}

.listItem :global(.vtex-button){
background-color: transparent;
display: flex;
justify-content: space-between;
align-items: center;
color: #FFF;
border: none;
font-size: 0.8em;
}

.listItem :hover,
.listItem :focus{
color: #59FF00;
}
 
.listItemActive :global(.vtex-button) {
  color: #59FF00;
}

.listContainer{
  justify-content: start;
}